<!DOCTYPE html>
<html>
  <head>
    <title>Myface - Log In or Sign Up</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      <% if current_user %>
        window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      <% end %>
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
